@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #dad5d5;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-shadow::after {
  -webkit-box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
  -moz-box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
  box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
}

.important-hidden {
  display: none !important;
}

.separator {
  border-top: 1px solid var(--foreground);
}

.shadow-custom-red {
  -webkit-box-shadow: 0px 5px 10px 2px #f76868;
  -moz-box-shadow: 0px 5px 10px 2px #f76868;
  box-shadow: 0px 5px 10px 2px #f76868;
}

.background-image {
  background-image: url(/images/background.png);
}

.custom-banner {
  animation-name: customBanner;
  animation-duration: var(--bannerDuration);
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

@keyframes customBanner {
  100% {
    transform: var(--finalOffset);
  }
}
