@import 'react-quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #dad5d5;
}

body {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-shadow::after {
    -webkit-box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
    -moz-box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
    box-shadow: 0px 0px 50px 70px rgba(40, 40, 40, 0.2) inset;
}

.important-hidden {
    display: none !important;
}

.separator {
    width: 100%;
    border-top: 1px solid var(--foreground);
}

.shadow-custom-red {
    -webkit-box-shadow: 0px 5px 10px 2px #f76868;
    -moz-box-shadow: 0px 5px 10px 2px #f76868;
    box-shadow: 0px 5px 10px 2px #f76868;
}

.inner-shadow {
    background: radial-gradient(circle, rgba(40, 40, 40, 0) 0%, rgba(40, 40, 40, 1) 100%);
}

.background-image {
    background-image: url(/images/background.png);
}

.field-label::after {
    content: '*';
    margin-left: 2px;
    font-size: 1rem;
    font-weight: normal;
    color: rgba(239, 68, 68, 1);
}

/*text editor*/
.readonly-ql-editor {
    height: fit-content !important;
  }
  
  .ql-editor.ql-blank::before {
    font-style: normal !important;
  }
  
  .ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
  }
  
  .ql-toolbar.ql-snow {
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
  }
  
  .ql-container.ql-snow {
    border: none !important;
  }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    100% {
        filter: blur(0);
        opacity: 1
    }
}
